    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row pb-3">
            <div class="container-fluid">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                      <form action="/upload-image" method="POST" enctype="multipart/form-data">
                  
                        <div class="form-group">
                            <h5 class="card-title text-uppercase text-muted mx-auto">Select image</h5>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="image" id="image">
                                <label class="custom-file-label" for="image"></label>
                              </div>
                          </div>
                          
                          <button type="submit" class="btn btn-primary" style="text-align:center">Upload</button>
                      
                      </form>
                  </div>
                </div>
            </div>
          </div>  
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-2">Plant Image</h5>

                    <img alt="Image placeholder" style="width:100%" src="/static/assets/img/theme/tomato-bacteria-spots.jpg">
                  
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-image"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Plant type</h5>

                    <span id="stats_users" class="h2 font-weight-bold mb-0">Tomato</span>
                  
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-tree"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Disease type</h5>

                    <span id="stats_sales" class="h2 font-weight-bold mb-0">Bacteria</span>
                  
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-tag"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>