<div class="header">
    <div class="container-fluid">
      <div class="card card-stats">
        <div class="card-body">
          <div class="header-body">
            <div class="row">
              <div class="col">
  
                <form action="/upload-image" method="POST" enctype="multipart/form-data">
  
                  <div class="form-group">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mx-auto">Select image</h5>
                      </div>
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" name="image" id="image">
                          <label class="custom-file-label" for="image"></label>
                    </div>
                  </div>
  
                  <button type="submit" class="btn btn-primary">Upload</button>
  
                </form>

            </div>
        </div>    
      </div>
    </div>
  </div>
